#**CICLO FOR**

# **SOLUCION TALLER 4**

1. Crear un bucle que cuente todos los números pares hasta
el 100 ciclo for

In [ ]:
for i in range(0,100,2):
  print(i)

2. Haz una tabla de multiplicar utilizando el ciclo for
ciclo for

In [ ]:
num = int(input("Digite el número de la tabla de multiplicar: "))

for i in range(11):
  print(i, " x ", num, " = ",  i * num)

Digite el número de la tabla de multiplicar: 10
0  x  10  =  0
1  x  10  =  10
2  x  10  =  20
3  x  10  =  30
4  x  10  =  40
5  x  10  =  50
6  x  10  =  60
7  x  10  =  70
8  x  10  =  80
9  x  10  =  90
10  x  10  =  100

3. Escribir un programa que pregunte al usuario su edad y
muestre por pantalla todos los años que ha cumplido
(desde 1 hasta su edad). ciclo for

In [ ]:
nombre_per = input("Digite su Nombre")
edad = input("cuantos años tienes")

for i in range(1,15,):
  print(i)

4. Escribir un programa que pida al usuario un número entero
positivo y muestre por pantalla todos los números
impares desde 1 hasta ese número separados por comas.

In [22]:
#captura de usuario 
usuario = input("Digite su usuario: ")
usu = "12"
if usuario == usu:
    print("EL usuario es correcto!")

    # rango de impares
for i in range(0,12,3):
  print(i)

Digite su usuario: 12
EL usuario es correcto!
0
3
6
9

5. Encuentra la suma de todos los números pares del 1 al
100 ciclo for

In [29]:
# variables acumuladoras
acu = 0

for i in range(0,100,3):
  # print(i)
  acu = acu + i
print(f"El total de la suma de los número impares del 0-100= {acu}")

El total de la suma de los número impares del 0-100= 1683

# ***CLASE***

In [ ]:
for z in [456789]:
  print(z)

456789

In [ ]:
for J in (10,20,30,40):
  print(J)

10
20
30
40

#***CICLOS REPETITIVOS***

In [ ]:
for w in "te amo valentina":
  print(w)

t
e

a
m
o

v
a
l
e
n
t
i
n
a

In [ ]:
for w in "juan Andres":
  print(w)

j
u
a
n

A
n
d
r
e
s

**FUNCIÓN Range(start, stop, step)**

cuando solo se pasa 1 parámetro a la función Range por default (stop)

In [ ]:
for i in range(0,100,2):
  print(i)

In [ ]:
nombre = input("Digite su nombre: ")

for i in range(6):
  print(i, nombre)

Digite su nombre: Diana
0 Diana
1 Diana
2 Diana
3 Diana
4 Diana
5 Diana

Escribir un programa que realice la tabla de multiplicar de un número digitado por teclado

In [ ]:
num = int(input("Digite el número de la tabla de multiplicar: "))

for i in range(11):
  print(i, " x ", num, " = ",  i * num)

Digite el número de la tabla de multiplicar: 8
0  x  8  =  0
1  x  8  =  8
2  x  8  =  16
3  x  8  =  24
4  x  8  =  32
5  x  8  =  40
6  x  8  =  48
7  x  8  =  56
8  x  8  =  64
9  x  8  =  72
10  x  8  =  80

Escriba un programa que me sume los números pares del 0 al 10 y saque el total de la suma.

In [23]:
# variables acumuladoras
acu = 0

for i in range(0,11,2):
  # print(i)
  acu = acu + i
print(f"El total de la suma de los número pares del 0-10= {acu}")

El total de la suma de los número pares del 0-10= 30

**Taller Profundización**
Ejercicios: https://drive.google.com/file/d/1L2Tn9iTSnSJlskALvM2hBpOBUEJdcwLL/view?usp=sharing