#***CICLOS REPETITIVOS***

#**CICLO FOR**

In [ ]:
for w in [1234]:
  print(w)

1234

In [ ]:
for w in (1,2,3,4):
  print(w)

1
2
3
4

In [ ]:
for w in "1,2,3,4":
  print(w)

1
,
2
,
3
,
4

In [ ]:
for w in "Dagoberto":
  print(w)

D
a
g
o
b
e
r
t
o

**FUNCIÓN Range(start, stop, step)**

cuando solo se pasa 1 parámetro a la función Range por default (stop)

In [ ]:
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

In [ ]:
nombre = input("Digite su nombre: ")

for i in range(6):
  print(i, nombre)

Digite su nombre: Diana
0 Diana
1 Diana
2 Diana
3 Diana
4 Diana
5 Diana

Escribir un programa que realice la tabla de multiplicar de un número digitado por teclado

In [ ]:
num = int(input("Digite el número de la tabla de multiplicar: "))

for i in range(11):
  print(i, " x ", num, " = ",  i * num)

Digite el número de la tabla de multiplicar: 8
0  x  8  =  0
1  x  8  =  8
2  x  8  =  16
3  x  8  =  24
4  x  8  =  32
5  x  8  =  40
6  x  8  =  48
7  x  8  =  56
8  x  8  =  64
9  x  8  =  72
10  x  8  =  80

Escriba un programa que me sume los números pares del 0 al 10 y saque el total de la suma.

In [ ]:
# variables acumuladoras
acu = 0

for i in range(0,11,2):
  # print(i)
  acu = acu + i
print(f"El total de la suma de los número pares del 0-10= {acu}")

El total de la suma de los número pares del 0-10= 30

**Taller Profundización**
Ejercicios: https://drive.google.com/file/d/1L2Tn9iTSnSJlskALvM2hBpOBUEJdcwLL/view?usp=sharing